.app-list {
    color: var(--color-foreground);
    background: var(--color-background-light);
    border-left: 1px solid var(--color-blurred);
    border-right: 1px solid var(--color-blurred);
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;

    p {
        background: var(--color-background-dark);
        color: var(--color-button-normal);
        height: 31px;
        padding-left: 10px;
        font-size: 9px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 19px;
        display: flex;
        align-items: center;
    }

    .app-list-group {
        outline: none;
    }
}